<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <title>지역별 작목정보</title>
</head>
<body>
<!--
    <div class="hAddr">
        <span class="title">지도중심기준 행정동 주소정보</span>
        <span id="currentAddr"></span>
    </div>
-->

    <form action="/AreaInfo" accept-charset="utf-8" name = "person_info" method = "get">
        <select id="sidoCdResearch" name="province" onchange="itemChange()" title="시도 선택">
            <option value="시도선택" selected="selected">시도선택</option>
            <option value="강원도">강원도</option>
            <option value="경기도">경기도</option>
            <option value="경상남도">경상남도</option>
            <option value="경상북도">경상북도</option>
            <option value="광주광역시">광주광역시</option>
            <option value="대구광역시">대구광역시</option>
            <option value="대전광역시">대전광역시</option>
            <option value="부산광역시">부산광역시</option>
            <option value="서울특별시">서울특별시</option>
            <option value="세종특별자치시">세종특별자치시</option>
            <option value="울산광역시">울산광역시</option>
            <option value="인천광역시">인천광역시</option>
            <option value="전라남도">전라남도</option>
            <option value="전라북도">전라북도</option>
            <option value="제주특별자치도">제주특별자치도</option>
            <option value="충청남도">충청남도</option>
            <option value="충청북도">충청북도</option>
        </select>

        <select id="sigunCdResearch" name="city" title="시군구 선택">
            <option value="" selected="selected">시군구선택</option>
        </select>
        <input type = "submit" value = "검색"/>
    </form>

    <button id = "find-me">현재 위치</button><br/>
    <p id = "status"></p>

    <div id="mainHide">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="col-md-1">시도</th>
                <th class="col-md-1">시군구</th>
                <th class="col-md-1">품목</th>
                <th class="col-md-1">부부 가족경영 규모</th>
                <th class="col-md-1">평균투자비(3년합계)</th>
                <th class="col-md-1">연간운영비/년(운영)</th>
                <th class="col-md-1">평균수입/년(부부인건비 포함)</th>
                <th class="col-md-1">평균농지가격(3.3㎡)</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="shipping : ${shippingAreaList}">
                <td th:text="${shipping.province}"></td>
                <td th:text="${shipping.city}"></td>
                <td th:text="${shipping.item}"></td>
                <td th:text="${shipping.family_management_scale}"></td>
                <td th:text="${shipping.average_investment_cost}"></td>
                <td th:text="${shipping.annual_operating_cost}"></td>
                <td th:text="${shipping.average_income}"></td>
                <td th:text="${shipping.average_farmland_price}"></td>
            </tr>
            </tbody>
        </table>

        <th:block th:if="${shippingAreaList.empty}">해당 내용이 없습니다.</th:block>



    </div>


    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7c2ea6cdea824e6159caeae6cc70ec39&libraries=services"></script>
    <script
            src="https://code.jquery.com/jquery-3.5.1.slim.js"
            integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM="
            crossorigin="anonymous">

    </script>
    <script>
    //이중 select
    var areas = [];
    areas.push({sido: "시도선택", sigun: ["시군구 선택"]});
    areas.push({sido: "강원도", sigun: ["강릉시","철원군","원주시","속초시","강원도","고성군","동해시", "삼척시", "양구군", "양양군", "영월군",
            "인제군", "정선군", "철원군", "춘천시", "태백시", "평창군", "홍천군", "화천군", "횡성군"]});
    areas.push({sido: "경기도", sigun: ["수원시","용인시","성남시","부천시","화성시","안산시","안양시", "평택시", "시흥시", "김포시",
            "광주시", "광명시", "군포시", "하남시", "오산시", "이천시", "안성시", "의왕시", "양평군", "여주시",
            "과천시", "고양시", "남양주시", "파주시", "의정부시", "양주시", "구리시", "포천시", "동두천시", "가평군",
            "연천군"]});
    areas.push({sido: "경기도", sigun: ["수원시","용인시","성남시","부천시","화성시","안산시","안양시", "평택시", "시흥시", "김포시",
            "광주시", "광명시", "군포시", "하남시", "오산시", "이천시", "안성시", "의왕시", "양평군", "여주시",
            "과천시", "고양시", "남양주시", "파주시", "의정부시", "양주시", "구리시", "포천시", "동두천시", "가평군",
            "연천군"]});
    areas.push({sido: "경상남도", sigun: ["창원시", "김해시", "양산시", "진주시", "거제시", "통영시", "사천시", "밀양시", "함안군", "거창군",
            "창녕군", "고성군", "하동군", "합천군", "남해군", "함양군", "산청군", "의령군", "경상남도", "마산시", "진해시"]});
    areas.push({sido: "경상북도", sigun: ["경산시", "경주시", "구미시", "김천시", "문경시", "상주시", "안동시", "영주시", "영천시", "포항시"
            ,"고령군", "군위군", "봉화군", "성주군", "영덕군", "영양군", "예천군", "울릉군", "울진군", "의성군",
            "청도군", "청송군", "칠곡군"]});
    areas.push({sido: "부산광역시", sigun: ["강서구", "금정구", "남구", "동구", "동래구", "부산진구", "북구", "사상구", "사하구", "서구", "수영구",
            "연제구", "영도구", "중구", "해운대구", "부산센터", "기장군"]});
    areas.push({sido: "대구광역시", sigun: ["남구", "달서구", "동구", "북구", "서구", "수성구", "중구", "대구센터", "달성군"]});
    areas.push({sido: "광주광역시", sigun: ["광주센터", "광산구", "강북구", "남구", "북구", "동구", "서구"]});
    areas.push({sido: "대전광역시", sigun: ["대덕구", "대전센터", "동구","서구","유성구","중구"]});
    areas.push({sido: "서울특별시", sigun: ["서울센터", "강남구", "강동구", "강북구", "강서구", "관악구", "광진구", "구로구", "금천구", "노원구", "도봉구",
            "동대문구", "동작구", "마포구", "서대문구", "서초구", "성동구", "성북구", "송파구", "양천구", "영등포구",
            "용산구", "은평구", "종로구", "중구", "중랑구"]});
    areas.push({sido: "세종특별자치시", sigun: ["세종센터", "조치원읍"]});
    areas.push({sido: "울산광역시", sigun: ["울산센터", "울주군", "동구", "북구"]});
    areas.push({sido: "인천광역시", sigun: ["강화구", "계양구", "남구", "남동구", "동구", "부평구", "서구", "연수구", "옹진군", "인천센터", "중구"]});
    areas.push({sido: "전라남도", sigun: ["광양시", "나주시", "목포시", "순천시", "여수시", "강진군", "고흥군", "곡성군", "구례군", "담양군",
            "무안군", "보성군", "신안군", "영광군", "영암군", "완도군", "장성군", "장흥군", "진도군", "함평군",
            "해남군", "화순군"]});
    areas.push({sido: "전라북도", sigun: ["군산시", "김제시", "남원시", "익산시", "전주시", "정읍시", "고창군", "무주군", "부안군", "순창군",
            "완주군", "완산군", "임실군", "장수군", "진안군", "덕진구"]});
    areas.push({sido: "제주특별자치도", sigun: ["서귀포시", "제주시", "제주도"]});
    areas.push({sido: "충청남도", sigun: ["계룡시", "공주시", "논산시", "당진시", "보령시", "서산시", "아산시", "천안시", "금산군", "부여군",
            "서천군", "예산군", "청양군", "태안군", "홍성군", "서북구", "동남구"]});
    areas.push({sido: "충청북도", sigun: ["괴산군", "단양군", "보은군", "영동군", "옥천군", "음성군", "제천시", "증평군", "진천군", "청주시", "충주시", "충청북도"]});


    function itemChange() {

        var selectSido = $('#sidoCdResearch').val();
        //console.log(selectSido);
        for (var i = 0; i < areas.length; i++) {


            if (areas[i].sido == selectSido) {
                //console.log(selectSido);
                $('#sigunCdResearch').empty();

                for (var count = 0; count < areas[i].sigun.length; count++) {
                    var option = $("<option>" + areas[i].sigun[count] + "</option>");
                    $('#sigunCdResearch').append(option);
                }
            }
        }
    }


    // 좌표
    var geocoder = new kakao.maps.services.Geocoder();
    var latitude;
    var longitude;

    //현재 좌표 얻기
    function getLatLng() {
        var status = document.querySelector('#status');

        function success(position) {
            latitude  = position.coords.latitude;
            longitude = position.coords.longitude;

            //status.textContent = 'Latitude: '+ latitude + ' °, Longitude: ' + longitude+' °';
        }

        function error() {
            status.textContent = '위치를 검색할 수 없습니다.';
        }

        if(!navigator.geolocation) {
            status.textContent = '브라우저에서 위치를 지원하지 않습니다';
        } else {
            //status.textContent = 'Locating…';
            navigator.geolocation.getCurrentPosition(success, error);
        }

        var latlng = new kakao.maps.LatLng(latitude, longitude);
        searchAddrFromCoords( latlng, displayCurrentInfo);
    }


    function searchAddrFromCoords(latlng, callback){
        //좌표로 행정동 주소 정보 요청
        geocoder.coord2RegionCode(latlng.getLng(), latlng.getLat(),  callback);
    }


    //현재좌표에 대한 주소정보를 표출하는 함수입니다
    function displayCurrentInfo(result, status) {
        if (status === kakao.maps.services.Status.OK) {
            //var infoDiv = document.getElementById('currentAddr');

            for(var i = 0; i < result.length; i++) {
                // 행정동의 region_type 값은 'H' 이므로
                if (result[i].region_type === 'H') {
                    //console.log(result[i]);
                    var result = result[i].address_name.split(" ");
                    //infoDiv.innerHTML = result[0]+" "+result[1];

                    //sido select에 해당 태그가 select되고 form summit되기
                    $('#sidoCdResearch').val(result[0]).prop("selected", true);
                    itemChange();
                    $('#sigunCdResearch').val(result[1]).prop("selected", true);
                    break;
                }
            }
        }
    }

    //areaInfo controller model
    var province = "[[${province}]]";
    var city = "[[${city}]]";
    if(province != "") {
        $('#sidoCdResearch').val(province).prop("selected", true);
        itemChange();
        $('#sigunCdResearch').val(city).prop("selected", true);
    }
    document.querySelector('#find-me').addEventListener('click', getLatLng);
</script>
</body>
</html>