<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <title>작물 정보</title>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="VegetableInfo">채소</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">작물 정보<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="FoodCropsInfo">식량작물</a></li>
                                <li class="divider"></li>
                                <li><a href="SpecialCropsInfo">특용작물</a></li>
                                <li class="divider"></li>
                                <li><a href="VegetableInfo">채소</a></li>
                                <li class="divider"></li>
                                <li><a href="FruitInfo">과수</a></li>
                                <li class="divider"></li>
                                <li><a href="FloweringPlantInfo">화훼</a></li>
                            </ul>
                        </li>
                        <li><a href="../AreaFarmInfo">지역별 작목 정보</a></li>
                        <li><a href="../Price/RealTimePrice">작물 가격</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        구현 예정
    </body>
</html>
