<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <title>최단 경로</title>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="./dijkstra">최단 경로</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li><a href="./boundary">경계 표시</a></li>
                        <li><a href="./distance">범위 거리</a></li>
                        <li><a href="./search">사찰 검색</a></li>
                        <li><a href="./range">주변 탐색</a></li>
                        <li><a href="./kruskal">최소 비용</a></li>
                        <li><a href="./dijkstra">최단 경로</a></li>
                    </ul>
                </div>
            </div>
            <div id="map" style="width:100%;height:600px"></div>
        </nav>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5db5bc5cb635e2c58b02d573f5402a27"></script>
        <script th:inline="javascript">
            /*<![CDATA[*/
            var data = /*[[${temple}]]*/ 'default';
            /*]]>*/

            var temple = [];
            for (var i = 0; i < data.length; i++) {
                var info = JSON.parse(data[i]);
                temple.push({"name":info.name, "tel":info.tel, "lat":info.lat, "lon":info.lon});
            }

            var lat = 37.566535;
            var lon = 126.9779692;
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                    center: new kakao.maps.LatLng(lat, lon), // 지도의 중심 좌표
                    level: 9 // 지도의 확대 레벨
                };
            var map = new kakao.maps.Map(mapContainer, mapOption); // 지도 생성

            var mapTypeControl = new kakao.maps.MapTypeControl(); // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤 생성
            map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT); // 지도에 컨트롤을 추가, kakao.maps.ControlPosition은 컨트롤이 표시될 위치

            var zoomControl = new kakao.maps.ZoomControl(); // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성
            map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

            // 마커 표시
            var positions = [] // 마커를 표시할 위치와 title 객체 배열
            for (var i = 0; i < temple.length; i++) {
                positions.push({title:temple[i]["name"], lat:temple[i]["lat"], lon:temple[i]["lon"], latlng: new kakao.maps.LatLng(temple[i]["lat"], temple[i]["lon"])});
            }
            var markers = [] // 마커가 저장될 배열
            var imageSrc = "https://t1.kakaocdn.net/localimg/localimages/07/mapapidoc/markerStar.png"; // 마커 이미지의 이미지 주소
            for (var i = 0; i < positions.length; i ++) {
                var imageSize = new kakao.maps.Size(24, 35); // 마커 이미지의 크기
                var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize); // 마커 이미지 생성
                var marker = new kakao.maps.Marker({ // 마커 생성
                    map: map, // 마커를 표시할 지도
                    position: positions[i].latlng, // 마커를 표시할 위치
                    title : positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됨
                    image : markerImage // 마커 이미지
                });
                markers.push(marker);
            }

            // 다익스트라 알고리즘
            var start = Math.floor(Math.random()*temple.length)+1;
            var end = Math.floor(Math.random()*temple.length)+1;
            while (start == end) {
                start = Math.floor(Math.random()*temple.length)+1;
                end = Math.floor(Math.random()*temple.length)+1;
            }
            var v = positions.length; // 정점 수
            var li = [];
            for (var i = 0; i < v; i++) {
                li.push({});
            }
            for (var i = 0; i < v; i++) {
                for (var j = 0; j < v; j++) {
                    if (i != j) {
                        li[i][j] = getDistance(i, j);
                    }
                }
            }
            var heap = []; // 최소 힙
            var connect = [];
            dijkstra(start);

            function dijkstra(start) {
                var path = [];
                var dist = [];
                for (var i = 0; i < v; i++) {
                    dist.push(9876543210);
                    path.push(-1);
                }
                dist[start] = 0;
                heapPush([0, start]);
                while (heap.length != 0) {
                    var tmp = heapPop();
                    var currentDist = tmp[0];
                    var currentNode = tmp[1];
                    for (key in li[currentNode]) {
                        var nextNode = parseInt(key);
                        var distance = li[currentNode][key];
                        var nextDist = dist[currentNode] + distance;
                        if (nextDist < dist[nextNode]) {
                            dist[nextNode] = nextDist;
                            path[nextNode] = currentNode;
                            heapPush([nextDist, nextNode]);
                        }
                    }
                }
                var idx = end;
                connect.push(idx);
                while (idx != start) {
                    connect.push(path[idx]);
                    idx = path[idx];
                }
                setLine();
                setStartDragMarker();
                setEndDragMarker();
            }

            function heapPush(value) {
                heap.push(value);
                var index = heap.length - 1;
                while (index > 0) {
                    var element = heap[index];
                    var parentIndex = Math.floor((index - 1) / 2);
                    var parent = heap[parentIndex];
                    if (parent[0] <= element[0]) {
                        break;
                    }
                    heap[index] = parent;
                    heap[parentIndex] = element;
                    index = parentIndex;
                }
            }

            function heapPop() {
                var ret = heap[0];
                var tmp = heap.pop();
                if (heap.length > 0) {
                    heap[0] = tmp;
                    _delete(0);
                }
                return ret;
            }

            function _delete(index) {
                var node = index;
                var left = 2 * index + 1;
                var right = 2 * index + 2;
                if (left < heap.length && heap[left][0] < heap[node][0]) {
                    node = left;
                }
                if (right < heap.length && heap[right][0] < heap[node][0]) {
                    node = right;
                }
                if (node != index) {
                    [heap[node], heap[index]] = [heap[index], heap[node]];
                    _delete(node);
                }
            }

            function getDistance(a, b) {
                var linePath;
                var lineLine = new kakao.maps.Polyline();
                linePath = [positions[a].latlng,  positions[b].latlng];
                lineLine.setPath(linePath);
                return Math.round(lineLine.getLength());
            }

            function setLine() {
                var linePath, distance;
                var lineLine = new kakao.maps.Polyline();
                for (var i = 0; i < connect.length-1; i++) {
                    linePath = [positions[connect[i]].latlng,  positions[connect[i+1]].latlng];
                    lineLine.setPath(linePath);
                    var drawLine = new kakao.maps.Polyline({
                        map: map, // 선을 표시할 지도
                        path: linePath,
                        strokeWeight: 3, // 선의 두께
                        strokeColor: '#db4040', // 선의 색깔
                        strokeOpacity: 1, // 선의 불투명도, 0에서 1 사이값이며 0에 가까울수록 투명함
                        strokeStyle: 'solid' // 선의 스타일
                    });
                    distance = Math.round(lineLine.getLength());
                    var distanceOverlay = new kakao.maps.CustomOverlay({
                        content: '<div class="dotOverlay">거리 <span class="number">' + distance + '</span>m</div>',
                        position: new kakao.maps.LatLng((positions[connect[i]].lat + positions[connect[i+1]].lat) / 2, (positions[connect[i]].lon + positions[connect[i+1]].lon) / 2),
                        yAnchor: 1,
                        zIndex: 2
                    });
                    distanceOverlay.setMap(map); // 거리를 지도에 표시
                }
            }

            function setStartDragMarker() {
                var startSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/red_b.png', // 출발 마커 이미지 주소
                    startSize = new kakao.maps.Size(50, 45), // 출발 마커이미지의 크기
                    startOption = {
                        offset: new kakao.maps.Point(15, 43) // 출발 마커이미지에서 마커의 좌표에 일치시킬 좌표를 설정(기본값은 이미지의 가운데 아래)
                    };
                var startImage = new kakao.maps.MarkerImage(startSrc, startSize, startOption); // 출발 마커 이미지를 생성

                var startDragSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/red_drag.png', // 출발 마커의 드래그 이미지 주소
                    startDragSize = new kakao.maps.Size(50, 64), // 출발 마커의 드래그 이미지 크기
                    startDragOption = {
                        offset: new kakao.maps.Point(15, 54) // 출발 마커의 드래그 이미지에서 마커의 좌표에 일치시킬 좌표를 설정(기본값은 이미지의 가운데 아래입니다)
                    };
                var startDragImage = new kakao.maps.MarkerImage(startDragSrc, startDragSize, startDragOption); // 출발 마커의 드래그 이미지를 생성
                var startPosition = positions[start].latlng; // 출발 마커가 표시될 위치
                var startMarker = new kakao.maps.Marker({ // 출발 마커를 생성
                    map: map, // 출발 마커가 지도 위에 표시되도록 설정
                    position: startPosition,
                    draggable: true, // 출발 마커가 드래그 가능하도록 설정
                    image: startImage // 출발 마커이미지를 설정
                });
                // 출발 마커에 dragstart 이벤트를 등록
                kakao.maps.event.addListener(startMarker, 'dragstart', function() {
                    startMarker.setImage(startDragImage); // 출발 마커의 드래그가 시작될 때 마커 이미지를 변경
                });
                // 출발 마커에 dragend 이벤트를 등록
                kakao.maps.event.addListener(startMarker, 'dragend', function() {
                    startMarker.setImage(startImage); // 출발 마커의 드래그가 종료될 때 마커 이미지를 원래 이미지로 변경
                });
            }

            function setEndDragMarker() {
                var arriveSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/blue_b.png', // 도착 마커이미지 주소
                    arriveSize = new kakao.maps.Size(50, 45), // 도착 마커이미지의 크기
                    arriveOption = {
                        offset: new kakao.maps.Point(15, 43) // 도착 마커이미지에서 마커의 좌표에 일치시킬 좌표를 설정(기본값은 이미지의 가운데 아래입니다)
                    };
                var arriveImage = new kakao.maps.MarkerImage(arriveSrc, arriveSize, arriveOption); // 도착 마커 이미지를 생성
                var arriveDragSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/blue_drag.png', // 도착 마커의 드래그 이미지 주소
                    arriveDragSize = new kakao.maps.Size(50, 64), // 도착 마커의 드래그 이미지 크기
                    arriveDragOption = {
                        offset: new kakao.maps.Point(15, 54) // 도착 마커의 드래그 이미지에서 마커의 좌표에 일치시킬 좌표를 설정(기본값은 이미지의 가운데 아래입니다)
                    };
                var arriveDragImage = new kakao.maps.MarkerImage(arriveDragSrc, arriveDragSize, arriveDragOption); // 도착 마커의 드래그 이미지를 생성
                var arrivePosition = positions[end].latlng; // 도착 마커가 표시될 위치
                var arriveMarker = new kakao.maps.Marker({ // 도착 마커를 생성
                    map: map, // 도착 마커가 지도 위에 표시되도록 설정
                    position: arrivePosition,
                    draggable: true, // 도착 마커가 드래그 가능하도록 설정
                    image: arriveImage // 도착 마커이미지를 설정
                });
                // 도착 마커에 dragstart 이벤트를 등록
                kakao.maps.event.addListener(arriveMarker, 'dragstart', function() {
                    arriveMarker.setImage(arriveDragImage); // 도착 마커의 드래그가 시작될 때 마커 이미지를 변경
                });
                // 도착 마커에 dragend 이벤트를 등록
                kakao.maps.event.addListener(arriveMarker, 'dragend', function() {
                    arriveMarker.setImage(arriveImage); // 도착 마커의 드래그가 종료될 때 마커 이미지를 원래 이미지로 변경
                });
            }
        </script>
    </body>
</html>
