<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<b style="font-size: 250px"></b>
<b style="font-size: 120px">끼</b>
<b style="font-size: 90px">이</b>
<b style="font-size: 75px">이</b>
<b style="font-size: 60px">이</b>
<b style="font-size: 45px">야</b>
<b style="font-size: 60px">야</b>
<b style="font-size: 70px">야</b>
<b style="font-size: 75px">야</b>
<b style="font-size: 80px">야</b>
<b style="font-size: 75px">아</b>
<b style="font-size: 70px">아</b>
<b style="font-size: 60px">아</b>
<b style="font-size: 45px">아</b>
<b style="font-size: 30px">아</b>
<b style="font-size: 20px">아</b>
<b style="font-size: 15px">아</b>
<b style="font-size: 10px">아</b>
<b style="font-size: 250px">앙!</b>
<br>
<b style="font-size: 200px"></b>
<b style="font-size: 80px">! 404 낫 파운드 !</b>

</body>
</html>