<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>메인</title>
    </head>
    <body>
        <button type="button" class="navyBtn" onClick="location.href='select'">조회</button>
        <button type="button" class="navyBtn" onClick="location.href='insert'">삽입</button>
        <button type="button" class="navyBtn" onClick="location.href='update'">수정</button>
        <button type="button" class="navyBtn" onClick="location.href='delete'">삭제</button>
    </body>
</html>
