<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous"/>
        <meta charset="UTF-8">
        <title>수정</title>
    </head>
    <body>
        <br>
        <form action="update" method="post">
            부품 이름 : <input type="text" name="name" placeholder="이름">
            교체할 부품 이름 : <input type="text" name="newName" placeholder="이름">
            <input type="submit" value="교체">
        </form>
        <h3><span th:text="${result}"></span></h3>
        <button type="button" class="navyBtn" onClick="location.href='select'">조회 페이지로</button>
    </body>
</html>
